@charset "UTF-8";

@import "./variable.scss";


*{
	margin:0; 
	padding:0;
}

body{
    font-family: "Swagger",sans-serif;
	overflow-x: hidden;
	color:$lightGray;
}



.wrap{
	padding-top: 1em;
}

  input,.input{
    border: 1px solid $superlightGray;
    border-radius: 0.4em;
    box-sizing: border-box;
    padding:0.5em 0.6em;

	&::placeholder{
		color:$superlightGray;
	}

	&:disabled{
		// background-color: $superlightGray;
	}

	&.postnum{
		width:5em;
	}

	&.address{
		width:16em;
	}

	&.call3{
		width:2.6em;
		text-align: center;
	}

	&.call4{
		width:3em;
		text-align: center;
	}

	&:focus{
		border: 1px solid $superlightGray;
		outline: none;
	}
  }

  textarea, .textarea{
	border: 1px solid $superlightGray;
    border-radius: 0.4em;
    box-sizing: border-box;
    padding:0.5em 0.6em;
	resize: none;
	text-align: left;

	&::placeholder{
		color: $superlightGray;
	}

	&:focus{
		border: 1px solid $superlightGray;
		outline: none;
	}
  }

  select,.select{
	border: 1px solid $superlightGray;
    border-radius: 0.4em;
	font-size: 0.8em;
    box-sizing: border-box;
	position: relative;



	ul.select_box{
		position: absolute;
		overflow: hidden;
		z-index: 10;
		width:100%;
		top:100%;
		left:0;
		border: 1px solid $superlightGray;
		background-color: rgba($color: #ffffff, $alpha: 1.0);
		border-radius: 0.4em;
		&.hide{
			display: none;
		}
	}

	option,.option{
		position: relative;
		box-sizing: border-box;
		display: flex;
		color:$lightGray;
		background-color: #fff;
		border-radius: 0.4em;
		// justify-content: center;
		align-items: center;
		width:100%;
		box-sizing: border-box;
		padding: 0.5em 0.6em;
		border: 0px;
		line-height: 1.5;
		cursor:pointer;
		
		&:hover{
			color:#2d2d2d;
		}

		&.disabled{
			color:$superlightGray;
			pointer-events: none;
		}

		.down{
			position:absolute;
			top:50%;
			right:0.5em;
			transform: translate(0,-50%);
		}
	}
  }

  .inputFile_wrapper{
	pointer-events: none;
		.file_input{
			position:absolute;
			overflow: hidden;
			left:-100%;
			opacity: 0;
			pointer-events: auto;
		}
		.file_btn{
			padding:0.5em;
			pointer-events: auto;
		}
  }

  #main{
	font-size: 1.4em;
    min-height:100vh;
	padding-top: 2em;
  }

    ul,li,ol{
        list-style: none;
        margin: 0px;
        padding: 0px;
    }

    a{
        text-decoration: none;
        color:inherit;
    }

	span{
		display: inline-block;
		word-break: keep-all;
	}

	.btn_area{
		display: flex;
		justify-content: center;
		align-items: center;
		padding:1em 0;
	}

	.btn{
		cursor: pointer;
	}

	.btn1{
		color: #fff;
		background-color: $lightGray;
		border-radius: 0.4em;
		border:0px;
		&:hover{
			background-color: $deepGray;
		}
	}
	
	.btn2{
		color: #fff;
		background-color: $superlightGray;
		border-radius: 0.4em;
		border:0px;
		&:hover{
			background-color: $lightGray;
		}
	}

	.btn3{
		color: $lightGray;
		background-color: #fff;
		border-radius: 0.4em;
		border:1px solid $lightGray;
		&:hover{
			background-color: $superlightGray;
			border:1px solid $superlightGray;
			color:#fff;
		}
	}
	.page_top{
		.page_title_wrap{
			font-family: "Bangers",sans-serif;
			font-size: 2.5em;
			text-align: center;
			color:$lightGray;
			padding-bottom: 0.5em;
		}
		.page_sub_title{
			padding:0.3em 0;
			ul{
				display: flex;
				justify-content: center;
				align-items: center;
				li{
					display: flex;
					justify-content: center;
					align-items: center;
					padding:0 0.25em;
					a{
						font-size: 0.7em;
						color:$superlightGray;
					}

				&.on,&:hover{
					a{
						color:$lightGray;
					}
				}
				}
			}
		}

	}

	.form{
		.form_title{
			width:100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding-bottom: 0.7em;
			margin-bottom: 0.7em;
			border-bottom:2px solid $superlightGray;

		}
		
		.form_context{
			padding-bottom: 0.7em;
			margin-bottom: 0.7em;
			border-bottom:2px solid $superlightGray;
			&.end{
				padding-bottom: 0em;
				border-bottom: 0px;
			}

			.form_line{
				padding-bottom:0.4em;

				&:last-child{
					padding-bottom: 0;
				}
			}
		
		}
	}


	// [ + (숫자) - ] input

	.plusMinus_wrap{
		display: flex;
		justify-content: flex-start;
		font-size: 0.8em;
		.plusMinus_num{
			width:auto;
			padding:0.25em;
			border-radius: 0.5em;
			border: 1px solid $superlightGray;
			color:$deepGray;
			.sign{
				padding:0.25em;
				border:0px;
				background-color: rgba($color: #000000, $alpha: 0);
				cursor:pointer;
				color:$lightGray;
				&.plus{

				}
				&.minus{

				}
				&:hover{
					color:rgba($color: $deepGray, $alpha: 1);
				}
			}
			.plusMinus_input{
				width:1.5em;
				padding:0.25em;
				border: 0px;
				text-align: center;
			}
		}
	}


	.fontsmall{
		font-size: 0.9em;
	}

	.fontsupersmall{
		font-size: 0.8em;
	}


	
	.container {
		padding-right: 15px;
		padding-left: 15px;
		padding-bottom:3em;
		margin-right: auto;
		margin-left: auto;
		max-width: 1440px;

		@media (max-width: $wide) {
			max-width: $_wide;
		}
		@media (max-width: $desktop) {
			max-width: $_desktop;
		}
		@media (max-width: $tablet) {
			max-width: $_tablet;
		}
		@media (max-width: $moblie) {
			max-width: $_moblie;
		}
		@media (max-width: $small) {
			max-width: $_small;
		}

		&.large{
			max-width:100%;
		}

		&.small{
			@media (max-width: $desktop) {
				max-width: $_tablet;
			}
			@media (max-width: $tablet) {
				max-width: $_tablet;
			}
			@media (max-width: $moblie) {
				max-width: $_moblie;
			}
			@media (max-width: $small) {
				max-width: $_small;
			}
		}
		
	}

	


	// 색상
	.cgray{
		color:$lightGray;
		&.cgray1{
			color:$superlightGray;
		}
		&.cgray2{
			color:$lightGray;
		}
		&.cgray3{
			color: $deepGray;
		}
	}
	

	.corange{
		color:$lightOrange;
		&.corange1{
			color:$lightOrange;	
		}
		&.corange2{
			color:$lightOrange;
		}
	}

	.cblue{
		color:$lightBlue;
		&.cblue1{
			color:$lightBlue;
		}
		&.cblue2{
			color:$deepBlue;
		}
	}

	//================

	//넓이 관련

	.w100{
		width:100%;
	}

	.w80{
		width:80%;
	}

	.w50{
		width:50%;
	}

	.w30{
		width:30%;
	}

	.w20e{
		width:20em;
	}

	.w14e{
		width:14.5em;
	}

	//================
