// view
$wide:1440px;
$desktop:1200px;
$tablet:992px;
$moblie:768px;
$small:500px;

$_wide:1280px;
$_desktop:970px;
$_tablet:750px;
$_moblie:470px;
$_small:300px;


//color

$lightBlue:#42BBFF;
$deepBlue:#285aa1;

$lightOrange:#FFB950;
$deepOrange:#f57f07;

$superlightGray:#D9D9D9;
$lightGray:#838383;
$deepGray:#4e4e4e;

$black:#2d2d2d;

$lightRed : #FF0000;